.mainbox{
    margin-left: 30px;
    float: left;
}
.secondbox{
    margin-left: 30px;
    margin-top: 30px;
    clear: left;
    float: left;
    margin-bottom: 30px;
}
.tweetbox{
	width: 340px;
	height: 780px;
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
}