header {
	height:180px;
	background-image:url('../img/filmstrip.jpg');
}
h1 {
	height: 130px;
    text-align: center;
}
nav li {
	display: inline;
	margin-right: 90px;
}
nav,footer {
	clear: both;
	color: #ffffff;
	background-color: #aeaca8;
	height: 30px;
}
#movieAdded, form, h2 {
    margin-left: 30px;
}
.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border:0px solid #000000;
	background-color: grey;
}