{% extends "layouts/base.html" %}
{% block head %}
    {{ super() }}
    <title>Contact Us</title>
{% endblock %}
{% block content %}
<p><b>Contact us on: </b></p>
<p>Email Address: I-Trailer@gmail.com </p>
<p>Tel: 0845 166 321</p>
<p>Fax: 0811 220 333</p>
<p>Address: 1 Park Lane, Birmingham, B92 TY1, UK</p>
{% endblock %}