{% extends "layouts/base.html" %}
{% block head %}
    {{ super() }}
    <title>{{ profile.username }}</title>
{% endblock %}
{% block content %}
{% autoescape true %}
<form method="post" action="/profile/{{ profile.key.id() }}/edit">
        {{ registrationForm.csrf_token }}
        <p><strong>{{ registrationForm.username.label }}</strong> {{ registrationForm.username(value=profile.username) }}</p>
        {% if registrationForm.username.errors %}
            <ul class="errors">{% for error in registrationForm.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <p><strong>{{ registrationForm.password.label }}</strong> {{ registrationForm.password }}</p>
        {% if registrationForm.password.errors %}
            <ul class="errors">{% for error in registrationForm.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <p><strong>{{ registrationForm.firstName.label }}</strong> {{ registrationForm.firstName(value=profile.firstName) }}</p>
        {% if registrationForm.firstName.errors %}
            <ul class="errors">{% for error in registrationForm.firstName.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <p><strong>{{ registrationForm.lastName.label }}</strong> {{ registrationForm.lastName(value=profile.lastName) }}</p>
        {% if registrationForm.lastName.errors %}
            <ul class="errors">{% for error in registrationForm.lastName.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <p><strong>{{ registrationForm.email.label }}</strong> {{ registrationForm.email(value=profile.email) }}</p>
        {% if registrationForm.email.errors %}
            <ul class="errors">{% for error in registrationForm.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <p>{{ registrationForm.submit }}</p>
</form>
{% endautoescape %}
{% endblock %}