{% extends "layouts/base.html" %}
{% block head %}
    {{ super() }}
    <title>Home</title>
    <link href="/static/css/index.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
		<div class = "tweetbox">
            <ul class="list-group">
            <li class="list-group-item active">Tweets on: <b>{{ currentMovies[0].title }}</b></li>
		    {% for tweet in tweets %}
                <li class="list-group-item">{{ tweet }}</li>
            {% endfor %}
            </ul>
		</div>
		<div class = "mainbox">
            <ul class="list-group">
                <li class="list-group-item active"><b>In Theatres Now</b></li>
                <li class="list-group-item list-group-item-info">Release Date: {{ releaseDate }}</li>
            {% for movie in currentMovies %}
                <li class="list-group-item">{{ loop.index }}<a href="/movie?id={{movie.idIMDB}}"> {{ movie.title }}</a></li>
            {% endfor %}
            </ul>
		</div>
		<div class = "secondbox">
            <ul class="list-group">
                <li class="list-group-item active"><b>Top Films (as voted on IMDB)</b></li>
            {% for movie in topMovies %}
                <li class="list-group-item">{{ movie.ranking }}<a href="/movie?id={{movie.idIMDB}}"> {{ movie.title }}</a></li>
            {% endfor %}
            </ul>
		</div>
{% endblock %}