{% extends "layouts/base.html" %}
{% block head %}
    {{ super() }}
    <title>Login</title>
{% endblock %}
{% block content %}
{% autoescape true %}
    <form method="post">
        {{ loginForm.csrf_token }}
        <p><strong>{{ loginForm.username.label }}</strong> {{ loginForm.username }}</p>
        {% if loginForm.username.errors %}
            <ul class="errors">{% for error in loginForm.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <p><strong>{{ loginForm.password.label }}</strong> {{ loginForm.password }}</p>
        {% if loginForm.password.errors %}
            <ul class="errors">{% for error in loginForm.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <p>{{ loginForm.submit }}</p>
    </form>
{% endautoescape %}
{% endblock %}