{% extends "layouts/base.html" %}
{% block head %}
    {{ super() }}
    <title>{{ title }}</title>
    <link href="/static/css/movie.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
{% if session.userID %}
{% autoescape true %}
<form action="/movie/add" method="post">
  {{ movieForm.csrf_token }}
  {{ movieForm.movieName(value=title) }}
  {{ movieForm.trailerID(value=ivaID) }}
  {{ movieForm.imdbID(value=imdbID) }}
  {{ movieForm.username(value=session.username) }}
  {{ movieForm.userID(value=session.userID) }}
  {{ movieForm.submit }}
</form>
{% endautoescape %}
{% endif %}

<h2><strong>{{ title }}</strong></h2>
{% if ivaID != 0 %}
<table class="table table-bordered" style="width:50%">
 <thead>
  <tr class="info">
    <th>Trailer</th>	
  </tr>
 </thead>

 <tbody>
  <tr class="active">
    <td>
        <iframe width='400' height='300' src='http://www.videodetective.com/embed/video/?publishedid={{ ivaID }}&options=false&autostart=false&playlist=none&width=400&height=300' frameborder='0' scrolling='no'></iframe>
    </td>
  </tr>
 </tbody>
    </table>
{% endif %}
    
<br>
<br>

<table class="table table-hover table-bordered" style="width:30%">
    <thead>
     <tr class="info">
        <th>Ratings</th>
     </tr>
    </thead>
    
    <tbody>
     <tr class="active">
         <td><b>IMDB Rating: </b> {{ imdbRating }}<br>
             <b>Voters: </b> {{ imdbVotes }}</td>
     </tr>
     <tr class="active">
        <td>
            <b>Metascore: </b> {{ metaScore }}
        </td>
  </tr>
      <tr class="active">
          <td>
              <b>Rotten Tomatoes Critics: </b> {{ rottenRatings.critics_score }} <i>{{ rottenRatings.critics_rating }}</i>
          </td>
        </tr>
        <tr class="active">
            <td>
                <b>Rotten Tomatoes Audience: </b> {{ rottenRatings.audience_score }} <i>{{ rottenRatings.audience_rating }}</i>
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>

<table class="table table-hover table-bordered" style="width:50%">
    <thead>
    <tr class="info">
        <th>Tweets:</th>
        </tr>
    <thead>
    <tbody>
        {% for tweet in tweets %}
            <tr class="active">
                <td>{{ tweet }}<br></td>	
            </tr>
        {% endfor %}
</tbody>
</table>  
    <br>
<br>
<br>
<table class="table table-hover table-bordered" style="width:50%">
  <thead>
      <tr class="info">
        <th>Movie Information</th>	
      </tr>
  </thead>
  <tbody>
      
      <tr class="active">
        <td><b>Plot: </b> {{ plot }}</td>
      </tr>
      
      <tr class="active">
        <td><b>Year: </b> {{ year }}</td>
      </tr>
      
      <tr class="active">
        <td><b>Rating: </b> {{ rating }}</td>
      </tr>
      
      <tr class="active">
        <td><b>Release Date: </b> {{ releaseDate }}</td>
      </tr>
      
      <tr class="active">
        <td><b>Genre(s): </b> 
        {% for genre in genres %}
            {{ genre }}<br>
        {% endfor %}</td>
      </tr>
      
      <tr class="active">
        <td><b>Director(s): </b>
        {% for director in directors %}
            {{ director.name }}<br>
        {% endfor %}</td>
      </tr>
      
      <tr class="active">
        <td><b>Writer(s): </b> 
        {% for writer in writers %}
            {{ writer.name }}<br>
        {% endfor %}</td>
      </tr>
      
      <tr class="active">
        <td><b>Actor(s): </b> 
        {% for actor in actors %}
            {{ actor.actorName }} played {{ actor.character }}<br>
        {% endfor %}</td>
      </tr>
      
      <tr class="active">
        <td><b>Country/Countries: </b>
        {% for country in countries %}
            {{ country }}<br>
        {% endfor %}</td>
      </tr>
      
  </tbody>
</table>
{% endblock %}