{% extends "layouts/base.html" %}
{% block head %}
    {{ super() }}
    <link href="/static/css/profile.css" rel="stylesheet"/>
    <title>{{ profile.username }}'s profile</title>
{% endblock %}
{% block content %}
<center>
<div id="container">
    
    <table id="show" class="table table-hover table-bordered" style="width:75%">
        <tbody>
            
            <tr class="success">
                <td>
                    Username:
                </td>
                <td id="username">
                    {{ profile.username }}
                </td>
            </tr>
            <tr class="warning">
                <td>
                    First Name:
                </td>
                <td id="firstName">
                    {{ profile.firstName }}
                </td>
            </tr>
            <tr class="success">
                <td>
                    Last Name:
                </td>
                <td id="lastName">
                    {{ profile.lastName }}
                </td>
            </tr>
            <tr class="warning">
                <td>
                    Email:
                </td>
                <td id="email">
                    {{ profile.email }}
                </td>
            </tr>
            {% if profile.key.id() == session["userID"] %}
                <a href="/profile/{{ profile.key.id() }}/edit">Edit <span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        </tbody>
    </table>
    
    {% if movies %}
    <b>{{ profile.username }}'s favourite movies:</b>
    
<table class="table table-hover table-bordered" style="width:75%">
    <thead>
    <tr class="info">
        <th>Movie</th>
        <th>Trailer</th>
    </tr>
    </thead>
    <tbody>
    {% for movie in movies %}
        <tr class="active">
            <td>
                {% if profile.key.id() == session["userID"] %}
                    <form action="/profile/{{ profile.key.id() }}/delete" method="post" style="margin: 0px; padding: 0px;">
                        <input type="hidden" name="imdbID" value="{{ movie.imdbID}}">
                        <input type="submit" class="btn btn-danger btn-xs" value="X">
                    </form>
                {% endif %}
                <a href="/movie?id={{ movie.imdbID }}">{{ movie.movieName }}</a>
            </td>
            <td>
                <center>
                <iframe width='400' height='300' src='http://www.videodetective.com/embed/video/?publishedid={{ movie.trailerID }}&options=false&autostart=false&playlist=none&width=400&height=300' frameborder='0' scrolling='no'></iframe>
                </center>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
    {% else %}
    <h3><p><strong>{{ profile.username }}</strong> doesn't have any movies added yet. &#9785;</p></h3>
    <h4><p>Try adding some movies to your profile!</p></h4>
    <br>
    {% endif %}
    
</div>
</center>
{% endblock %}