{% extends "layouts/base.html" %}
{% block head %}
    {{ super() }}
    <title>Search Results</title>
{% endblock %}
{% block content %}
{% if results != 0 %}
<table border="2" style="width:100%" class="table1"> 
  <tr>
    <th>Results</th>	
  </tr>
        {% for result in results %}
            <tr>
              <td><a href="/movie?id={{result.idIMDB}}"><strong>{{result.title}}</strong></a>
                  <b>Year: </b>{{result.year}}
              </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <center><b>No results found.</b></center>
{% endif %}


{% endblock %}

