<html>
<head>
  {% block head %}
    <meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.90, user-scalable=0"/>
  <link href="/static/css/main.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  {% endblock %}
    </head>
<body>
<div class ="wrapper">
<header>
	    <h1></h1>
    
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session["userID"] %}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            <li id="profilelink"><a href="/profile/{{ session.userID }}"><span class="glyphicon glyphicon-user"></span> Your Profile</a></li>
        {% else %}
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
    

    
</header>
			
<br>
<br>
<h2 class="text-info"><strong>Search For A Movie Here:</strong></h2>
    
{% autoescape true %}
<form action="/search" method="post">
{{ searchForm.csrf_token }}
{{ searchForm.search }}
{{ searchForm.submit }}
</form>
{% endautoescape %}
    {% if searchForm.search.errors %}
        <ul class="errors">{% for error in searchForm.search.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    <br>
    
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p id="movieAdded"><mark>{{ message }}</mark></p>
    {% endfor %}
  {% endif %}
{% endwith %}
    
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        
    <footer>&copy; iTrailer</footer>
        
        </div>
    </div>
    
    </body>
    
</html>